<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: "/<%= @events %>",
      header: {
      	left: "month, agendaWeek, agendaDay",
      	center: "title",
      	right: "prevYear,prev,today,next,nextYear"
      }
  	})
  });
</script>


<div id="calendar">
</div>